* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:var(--bgcolor);
  font-family: sans-serif;
  outline: none;
}
:root{
    --bgcolor:#ecf0f3;
    --bxs:#ffffff;
    --rgba:rgba(0, 0, 0, 0.16);
    var(--rgba)
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: var(--bgcolor);
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px var(--bxs), 5px 5px 12px  var(--rgba);
  display: grid;
  grid-template-columns: repeat(4, 68px);
}
input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: var(--bgcolor);
  box-shadow: inset -5px -5px 12px var(--bxs) , inset 5px 5px 12px  var(--rgba);
  border: none;
  border-radius: 30px;
  color: rgb(70, 70, 70);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
button {
  height: 48px;
  width: 48px;
  background-color: var(--bgcolor);
  box-shadow: inset -5px -5px 12px var(--bxs), inset 5px 5px 12px  var(--rgba);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: var(--bgcolor);
    box-shadow: var(-Container);}

@media screen  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  .container {
      width: 100%;
     
      
  }
}

@media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  .container {
    width: 100%;
    
   
  }
}

@media screen and (max-device-width: 640px)
  and (orientation: landscape) {
  .container {
    width: 100%;
    
      
  }
}

@media screen
  and (max-device-width: 640px) {
  .container {
    width: 100%;
   
  }
}

@media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 100%;
    
    
  }
}

@media (device-height: 568px)
  and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 100%;
   
      
  }
}

@media (min-device-height: 667px)
  and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    width: 100%;
   
    
  }
  }
